<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.

  project ID: 582291
  token: 92ed66d596d5e1d5c799c7513a764c77
</p>