<% provide(:title, 'Home') %>
<h1>Pivotal Tracker API Info</h1>
<p>
  
  <br>
  project ID: 582291
  <br>
  token: 92ed66d596d5e1d5c799c7513a764c77
    <p>
  state:unscheduled, unstarted, started, finished, delivered, accepted
  <br>
  type:Feature, Bug, Chore, Release
    </p>
</p>

<!-- see http://www.w3schools.com/tags/ref_urlencode.asp for URL encoding -->