body {
	background: #101010;
	color: #FFFFFF;
	font-family: "Bebas Neue", sans-serif;
}

.clear {
	clear: both;
}

#container {
	width: 800px;
	margin: 0 auto;
	padding: 0 auto;
	ul{
		list-style: none;
	}
	li{
		margin: 0 0 20px;
		background: #272727;
		-moz-border-radius: 5px;
	}
}

.feature_wrapper {
	margin: 50 0 0 0;
}

.feature_completed {
	background: #78ec00;
	font-size: 70px;
	margin: 10 0 10 0;
	padding: 10 20 0 20;
	-webkit-border-radius: 5px;
}

.feature_progress {
	background: #272727;
	color: #FFFFFF;
	font-size: 70px;
	-webkit-border-radius: 5px;
}

span.feature_author {
	background: #222222;
	color: #CCCCCC;
	font-size: 50px;
	padding: 10 20 0 20;
	-webkit-border-radius: 5px;
	float: right;
}