<div id="page_title">Campaign Team Stats</div>
<div class="main_container">
	<ul class="progress_container">
	  <% for i in (0...@count) %>
	    <li class="progress_bg">
          <span class="progress_bar" style="width: <%= @per %>%"></span><span class="progress_title"><%= @result["#{i}".to_i]["title"] %></span>
    	</li>
	  <% end %>
	</ul>
</div>