<h1>Product Team Stats</h1>

<div id="container">
  <ul>
    <% for i in (0...10) %>
      <% if @project.stories.all["#{i}".to_i].current_state == "accepted" %>
        <li class="feature_completed">
          <%= @project.stories.all["#{i}".to_i].name%>
        </li>
      <% else %>  
        <li class="feature_progress">
          <%= @project.stories.all["#{i}".to_i].name %>
        </li>
      <% end %>  
    <% end %>
  </ul>
</div>