<div class="container_12">
  <div id="page_title" class="container_12">Campaign Team Stats</div>
	<ul class="feature">
	  <% for i in (0...@count) %>
	    <li class="feat_started">
          <%= @result["#{i}".to_i]["title"] %> :
          <%= @per %>%
    	</li>
	  <% end %>
</div>

<br><br>